<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul>
                <li><a routerLink="/home"><i class="fa fa-home fa-fw icon" aria-hidden="true"></i>HOME</a></li>
                <li><a routerLink="#" data-toggle="modal" data-target="#modaladduser"><i class="fa fa-user icon" aria-hidden="true"></i>USERS</a></li>
                <li><a routerLink="/adpage"><i class="fa fa-file icon" aria-hidden="true"></i>TRANSACTION</a></li>
                <li><a routerLink="/adpage"><i class="fa fa-book icon" aria-hidden="true"></i>BOOKS</a></li>
                <li><a routerLink="/adpage"><i class="fa fa-users icon" aria-hidden="true"></i>MEMBER</a></li>
                <li><a routerLink="/adpage"><i class="fa fa-archive icon" aria-hidden="true"></i>ARCHIVE</a></li>
                <li><a routerLink="/adpage"><i class="fa fa-search icon" aria-hidden="true"></i>ADVANCE SEARCH</a></li>
                <li><a routerLink="/logout"><i class="fa fa-sign-out icon" aria-hidden="true"></i>LOGOUT</a></li>
                </ul>
                <span class="name">Welcome Librarian</span>
        </div>
        </nav>
    </header>
    <div class="card">
    <div class="card-body">
    <div class="borrowtable">
        <i class="fa fa-user fa-fw icon" aria-hidden="true"></i>
        <span>Borrow Table</span>
    </div>
    <nav class="nav">
        <a class="nav-link active" href="#">All</a>
        <a class="nav-link" routerLink="#">New Books</a>
        <a class="nav-link" routerLink="#">Old Books</a>
        <a class="nav-link" routerLink="#">Lost Books</a>
        <a class="nav-link" routerLink="#">Damage Books</a>
        <a class="nav-link" routerLink="#">Subject For Replacement</a>
    </nav>
    <div class="btnplus">
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modalheader">
        <h4 class="modal-title w-100 font-weight-bold">Add Books</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" id="cross">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form >
          <div class="form-group">
            <input type="number" placeholder="Enter account no" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Book Title" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Category" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Author" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" placeholder="Enter No Of Copies" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Pub" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Book Publisher" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter ISBN" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Copyright Year" class="form-control">
          </div>
          <div class="form-group">
            <input type="date" placeholder="Enter Book Title" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Status" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success form-control">Add</button>
      </div>
    </div>
  </div>
</div>
<a routerLink="#" class="btn btn-default btn-rounded mb-4 btn" id="plus"data-toggle="modal" data-target="#modalLoginForm"><span class="badge badge-dark">+</span> Add Books</a>
        <button type="button" class="btn " id="print">
            <span class="badge badge-light"><i class="fa fa-print icon1" aria-hidden="true"></i></span> Print
        </button>
    </div>
    <div class="drpdwn">
        <form>
            <input type="number" min="1" max="100" value="1" class="numberdrpdwn">
            <span class="drpdwntxt">records per page</span>
            <input type="text" placeholder="Search...." class="search">
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ACC NO.</th>
            <th scope="col">BOOK TITLE</th>
            <th scope="col">CATEGORY</th>
            <th scope="col">AUTHOR</th>
            <th scope="col">COPIES</th>
            <th scope="col">BOOK PUB</th>
            <th scope="col">PUBLISHER NAME</th>
            <th scope="col">ISBN</th>
            <th scope="col">COPYRIGHT YEAR</th>
            <th scope="col">DATE ADDED</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>15</td>
            <td>Natural Resources</td>
            <td>Microbiology</td>
            <td>Robin Kerrod</td>
            <td>14</td>
            <td>Marshall Cavendish Corporation</td>
            <td>Marshall</td>
            <td>1-85435-628-3</td>
            <td>1997</td>
            <td>2013-12-11</td>
            <td>Old</td>
            <td><button class="btn"><i class="fa fa-trash delete"></i></button>
                <button class="btn"><i class="fa fa-edit edit"></i></button></td>
          </tr>
          <tr>
            <td>17</td>
            <td>Introduction to Microbiology</td>
            <td>Microbiology</td>
            <td>Caralyn Bradshaw, Michael Seals</td>
            <td>35</td>
            <td>Pearson Education.Inc</td>
            <td>Prentice Hall, New Jersey</td>
            <td>0-13-125087-6</td>
            <td>2014</td>
            <td>2013-12-11</td>
            <td>New</td>
            <td><button class="btn"><i class="fa fa-trash delete"></i></button>
                <button class="btn"><i class="fa fa-edit edit"></i></button></td>
          </tr>
          <tr>
            <td>18</td>
            <td>Logical Reasoning and concepts</td>
            <td>Psycology</td>
            <td>..</td>
            <td>3</td>
            <td>Pasay City</td>
            <td>..</td>
            <td>..</td>
            <td>2013</td>
            <td>2013-12-11</td>
            <td>New</td>
           <td><button class="btn"><i class="fa fa-trash delete"></i></button>
                <button class="btn"><i class="fa fa-edit edit"></i></button></td>
          </tr>
          <tr>
            <td>19</td>
            <td>Projectile</td>
            <td>Physics</td>
            <td>Brain</td>
            <td>25</td>
            <td>Regrncy</td>
            <td>Prentice Hall</td>
            <td>0-13-05084-1</td>
            <td>1996</td>
            <td>2013-12-11</td>
            <td>Old</td>
            <td><button class="btn"><i class="fa fa-trash delete"></i></button>
                <button class="btn"><i class="fa fa-edit edit"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
<div class="modal fade" id="modaladduser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modalheader">
        <h4 class="modal-title  font-weight-bold">Add User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" id="cross">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form >
          <div class="form-group">
            <input type="text" placeholder="Enter User Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Enter Password" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter First Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Last Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Matric No" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Department" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Level" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success form-control">Add</button>
      </div>
    </div>
  </div>
</div>