
<section>
<div >
    <img src="../assets/images/lib4.jpg" class="homeimg">
</div>

<div class="scroll">
    <marquee behaviour="scroll" direction="left" scrollamount="10">
    <h3>Welcome to library</h3></marquee>
</div>
<div class="theory">
    <p>The Library & Information Centre is housed in the Administrative Block & having three floors including ground floor with a two mezzanine floors
        , measuring an area of 2661 sq.m.
         There are 10 staff members including qualified Librarian working in the library,
          having 600 seating capacity. 
          To cater to the needs of the staff/ students, 
          to have easy and speedy access to the library collection,
           the house keeping operations of library have been automated using EasyLib software package.
            It has adopted open access system and maintains Online Public Access catalogue (OPAC) to provide easy access to the stacks.
             The library subscribes to 184 print journals and subscribing e-journals through VTU-Consortium.
         It has also has a collection of nearly 3775 back volumes of periodicals.</p>
</div>
</section>