#body
{

    background-image: url("/assets/images/bg2.jpg") ;
    /* background-size: cover; */
}
.card
{
    margin-top: 13px; 
    width: 500px;
    height: 700px;
}
/* input
{
    margin-top: 50px;
} */
.card-body{
    background-color:peachpuff;
}
.form-control
{
    margin-top: 25px;
}
#btn
{
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 250px;
    margin-left: 100px;
}
h1{
    text-align: center;
    padding-top: 10px;
    margin-right: 50px;
}





