<body id="body">
    <div class="card  offset-4">
        <div class="card-body">
            <div class="heading">
                <h1>Sign Up</h1>
            </div>
            <form [formGroup]="regGroup">
                <div class="form-group " >
                    <input type="text"  placeholder="Enter Your First Name"  class="form-control" ngModel formControlName="fname" [ngClass]="{ 'is-invalid': submitted &amp;&amp; regGroup.controls.fname.errors }">
                    <div *ngIf="submitted &amp;&amp; regGroup.controls.fname.errors" class="text-danger">
                        <div *ngIf="regGroup.controls.fname.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group ">
                    <input type="text" placeholder="Enter Your Last Name"  class="form-control" ngModel formControlName="lname" [ngClass]="{ 'is-invalid': submitted &amp;&amp; regGroup.controls.lname.errors }">
                    <div *ngIf="submitted &amp;&amp; regGroup.controls.lname.errors" class="text-danger">
                        <div *ngIf="regGroup.controls.lname.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group ">
                    <input type="email"  placeholder="Enter Your Email"  class="form-control" ngModel  formControlName="email" [ngClass]="{ 'is-invalid': submitted &amp;&amp; regGroup.controls.email.errors }">
                    <div *ngIf="submitted &amp;&amp; regGroup.controls.email.errors" class="text-danger">
                        <div *ngIf="regGroup.controls.email.errors.required">Email is required</div>
                        <div *ngIf="regGroup.controls.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group ">
                    <input type="password" placeholder="Enter Your password"  class="form-control" ngModel formControlName="pwd" [ngClass]="{ 'is-invalid': submitted &amp;&amp; regGroup.controls.pwd.errors }">
                    <div *ngIf="submitted &amp;&amp; regGroup.controls.pwd.errors" class="text-danger">
                        <div *ngIf="regGroup.controls.pwd.errors.required">Password is required</div>
                        <div *ngIf="regGroup.controls.pwd.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group ">
                    <input type="password"  placeholder="Re-Enter Your password"  class="form-control" ngModel formControlName="confirmpwd" [ngClass]="{ 'is-invalid': submitted &amp;&amp; regGroup.controls.confirmpwd.errors }">
                    <div *ngIf="submitted &amp;&amp; regGroup.controls.pwd.errors" class="text-danger">
                        <div *ngIf="regGroup.controls.confirmpwd.errors.required">Password Must be Same</div>
                    </div>
                </div>
                <div class="form-group ">
                    <select  class="form-control" placeholder="Select Type Of User"  ngModel formControlName="typeofuser" [ngClass]="{ 'is-invalid': submitted &amp;&amp; regGroup.controls.typeofuser.errors }">
                        <option value="0">--Select Type Of User--</option>
                        <option  value="admin" >Admin</option>
                        <option   value="student">User</option>
                    </select>
                    <div *ngIf="submitted &amp;&amp; regGroup.controls.typeofuser.errors" class="text-danger">
                        <div *ngIf="regGroup.controls.typeofuser.errors.required">Please Select Type Of User</div>
                    </div>
                </div>
    
                <div class="form-group ">
                    <button type="submit" class="form-control" id="btn" (click)="submit()" >Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    </body>